body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: row;
  height: 100vh;
  font-family: Century Gothic, Lucida Grande;
  background-color: #202629;
}
.countdown {
  display: flex;
}
.countdown span, .countdown h1 {
  color: #2799ff;
}
.countdown .day, .countdown .hour, .countdown .min, .countdown .sec {
  padding: 1vw 3vw;
  text-align: center;
}
.countdown .day .num, .countdown .hour .num, .countdown .min .num, .countdown .sec .num {
  display: block;
  font-size: 8vw;
  line-height: 1em;
}
.countdown .day .word, .countdown .hour .word, .countdown .min .word, .countdown .sec .word {
  display: block;
  font-size: 2vw;
  color: #8a99ab;
}
