/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: row;
  height: 100vh;
  font-family: Century Gothic, Lucida Grande;
  background-color: #202629;
} */
body {
  font-family: 'Montserrat';
}

* {
  box-sizing: border-box;
  font-size: 100%;
}

.brandlogo {
  width: 90px;
}

.banner {
  background-color: #033BA7;
  color: #fff;
  padding: 10vh 10vw;
  height: fit-content;
}

.cta-watch-now {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient( #18DEA6, #1896A6);
  border-radius: 5px;
  padding: 20px;
  width: fit-content;
}

.cta-container {
  justify-self: flex-end;
  margin-top: 20%;
}

.cta-watch-now img {
  margin-left: 20px;
}

.social-media {
  height: 100%;
  align-self: flex-end;
  justify-self: flex-start;
}

.banner-img {
  height: 100%;
  width: 100%;
  justify-self: flex-end;
  align-self: flex-end;
}
/*
.footer {
  position: absolute;
  width: 100%;
  height: 54px;
  left: 0px;
  bottom: 0px;
  background: #033BA7;
}

.footer-face {
  position: absolute;
  left: 86.53%;
  right: 12.06%;
  top: 98.54%;
  bottom: 0.66%;
  background: #F0F0
}

.footer-insta {
  position: absolute;
  left: 88.61%;
  right: 10%;
  top: 98.54%;
  bottom: 0.67%;
  background: #F0F0F0;
}
*/

@media (max-width: 764px) {
  .banner {
    padding: 7.5vh 5vw;
  }
  .img-banner-content {
    display: none;
  }
  .social-media img {
    width: 30px;
  }
}

/* 

.countdown {
  display: flex;
}
.countdown span, .countdown h1 {
  color: #2799ff;
}
.countdown .day, .countdown .hour, .countdown .min, .countdown .sec {
  padding: 1vw 3vw;
  text-align: center;
}
.countdown .day .num, .countdown .hour .num, .countdown .min .num, .countdown .sec .num {
  display: block;
  font-size: 8vw;
  line-height: 1em;
}
.countdown .day .word, .countdown .hour .word, .countdown .min .word, .countdown .sec .word {
  display: block;
  font-size: 2vw;
  color: #8a99ab;
} */
